.gradient-custom {
    /* fallback for old browsers */
    background: rgb(40, 42, 54);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(40, 42, 54), rgb(50, 53, 68));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(40, 42, 54), rgb(50, 53, 68))
    }

    .style {
        background: rgb(47, 50,  51);
    }

    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
