.main_box{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 60%;
    margin: auto;
}

.hd4{
    background-color: rgb(18, 36, 68);
    width: 100%;
    text-align: center;
}

.chat_box{
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: auto;
    border-bottom: 1px solid gray;
}

.message{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    background-color: rgb(90, 186, 203);
    color: rgb(43, 43, 43);
    margin-left: 20px;
}

.send_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
}
.send_box > input[type='text']{
    width: 70%;
    border: 1px solid rgb(0, 0, 0);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
    outline: none;
    padding-left: 15px;
}

.send_box > button{
    width: 100px;
    height: 40px;
    border: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    background-color: rgb(28, 90, 123);
    color: white;
}
.uname{
    color: rgb(36, 44, 37);
    font-weight: 700;
}