<!-- Navbar -->
<nav class="navbar fixed-top navbar-dark" style="background-color: #151d23;">
        <!-- Container wrapper -->
      
    <div class="container-fluid">
            <span style='font-size:40px;'>&#128169;</span>
            <span class="navbar-text">
            <h4 style="color: rgb(200, 200, 200); margin: center;">{{ current_user.username }}</h4>
            </span>
          <!-- </nav> -->
        <a href="{{ url_for('user.logout') }}" style="color: aliceblue;
        padding: 5px; margin-right: 10px;">Logout</a>
    </div>
  </nav>
